<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <sessionState mode="Custom" customProvider="RedisSessionStateProvider">
      <providers>
        <clear/>
        <add name="RedisSessionStateProvider" type="Harbour.RedisSessionStateStore.RedisSessionStateStoreProvider" host="192.168.1.168:6369" db="6" clientType="pooled" />
      </providers>
    </sessionState>
  </system.web>
</configuration>